<div>
  <form [formGroup]="form">
    Id: <input type="number" id="txtId" size="10" formControlName="id">
    Data: <input type="date" id="txtNewAnno" size="10" formControlName="data"><br>

    SP 500: <input type="number" id="txtSP_500" formControlName="SP_500">
    FTSE MIB: <input type="number" id="txtFTSE_MIB" formControlName="FTSE_MIB">
    GOLD SPOT: <input type="number" id="txtGOLD_SPOT" formControlName="GOLD_SPOT">
    MSCI EM: <input type="number" id="txtMSCI_EM" formControlName="MSCI_EM"><br>
    MSCI EURO: <input type="number" id="txtMSCI_EURO" formControlName="MSCI_EURO">
    All Bonds: <input type="number" id="txtAll_Bonds" formControlName="All_Bonds">
    US Treasury: <input type="number" id="txtUS_Treasury" formControlName="US_Treasury">
  </form>
</div>
<div>
  <input type="button" value="Read all" (click)="findAll()" />
  <input type="button" value="Read by id" (click)="findById()" />
  <input type="button" value="Create" (click)="create()" />
  <input type="button" value="Update" (click)="updateById()" />
  <input type="button" value="Delete" (click)="deleteById()" />
</div>
<!-- <div>
  <textarea id="txtarea" rows="8" cols="50" [value]="latestResult$ | async | json"> </textarea>
</div> -->
<div>
  Risultato chiamata:
  <pre id="risultatoChiamata">{{ latestResult$ | async | json }}</pre>
</div>
